DEEPSEEK__API_KEY='API-ключ аутентификации от ИИ'
DEEPSEEK__BASE_URL='URL-адрес альтернативной инсталляции для запросов к API'
DEEPSEEK__MODEL='название альтернативной модели.'
DEEPSEEK__MAX_CONNECTIONS='кол-во попыток подключиться к ИИ'
UNSPLASH__CLIENT_ID='Access Key созданного Unsplash приложения'
UNSPLASH__MAX_CONNECTIONS='кол-во попыток подключиться к Unsplash'
UNSPLASH__TIMEOUT='время на попытку подключиться к Unsplash'
S3__ACCESS_KEY='логин от bucket'
S3__SECRET_KEY='пароль от bucket'
S3__BUCKET_NAME='имя bucket'
S3__BUCKET_URL='endpoint сервера с портом bucket'
S3__REGION_NAME='регион bucket, по стандарту при создании устанавливается как `us-east-1`, если Вы не задавали явно этот параметр'
S3__MAX_POOL_CONNECTIONS='лимит одновременных подключений к bucket'
S3__CONNECT_TIMEOUT='таймаут подключения к bucket'
S3__READ_TIMEOUT='таймаут чтения из bucket'
GOTENBERG__BASE_URL='базовый адрес Gotenberg API'
GOTENBERG__SCREENSHOT_WIDTH='ширина скриншота в пикселях'
GOTENBERG__SCREENSHOT_FORMAT='формат скриншота (может принимать значения jpeg, png, webp)'
GOTENBERG__WAIT_DELAY='время ожидания завершения анимаций на html-странице'
GOTENBERG__CONNECT_TIMEOUT='таймаут подключения к Gotenberg'
GOTENBERG__MAX_POOL_CONNECTIONS='лимит одновременных подключений к Gotenberg'
DEBUG='True или False, режим дебага'