DEEPSEEK__API_KEY='API-ключ аутентификации от ИИ'
DEEPSEEK__BASE_URL='URL-адрес альтернативной инсталляции для запросов к API'
DEEPSEEK__MODEL='название альтернативной модели.'
DEEPSEEK__MAX_CONNECTIONS='кол-во попыток подключиться к ИИ'
UNSPLASH__CLIENT_ID='Access Key созданного Unsplash приложения'
UNSPLASH__MAX_CONNECTIONS='кол-во попыток подключиться к Unsplash'
UNSPLASH__TIMEOUT='время на попытку подключиться к Unsplash'
DEBUG='True или False, режим дебага'